/**
 * Variables
 */
$arc-color: #c9dae7;
$black-color: #172129;

/**
 * Mixins
 */
@mixin mark-style($property) {
  &[marks="#{$property}"] {
    fill: url(#mark_#{$property});
    & ~ .custom-marks {
      display: none;
    }
  }
}

/**
 * Styles
 */
svg {
  background-color: azure;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:not {
    cursor: crosshair;
    path.link {
      cursor: pointer;
    }
  }
}

.symbol-export {
  background: darkslategrey;
  padding: 0 2px;
  border: solid black 1px;
}

[data-tooltip] {
  position: relative;
  &:after {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    top: -25px;
    left: 0px;
    right: 0px;
  }
  &:hover:after {
    display: block;
    opacity: 1;
    color: darkgray;
    padding: 4px;
    background-color: #e6e6e696;
    border-radius: 5px;
  }
}

.node {
  cursor: grab;
  filter: drop-shadow(-1px 2px 3px rgb(0, 0, 0, 0.4));

  .position {
    fill: url(#mark_custom);

    @include mark-style(0);
    @include mark-style(1);
    @include mark-style(2);
    @include mark-style(3);
    @include mark-style(4);
    @include mark-style(5);
  }

  .transition {
    fill: #f4f9ffc6;
  }

  .label {
    filter: initial;
    text-anchor: middle;
    font-size: x-large;
    font-weight: 700;
    fill: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
  }

  .custom-marks {
    text-anchor: middle;
    color: $black-color;
    transform: translateX(0.65em);
    font-size: 0.95em;

    &[symbols="1"] {
      transform: translateX(0.25em);
      font-size: 1.4em;
    }
    &[symbols="2"] {
      transform: translateX(0.3em);
      font-size: 1.3em;
    }
    &[symbols="3"] {
      transform: translateX(0.6em);
      font-size: 1.1em;
    }
  }
}

.arc {
  stroke: $arc-color;
  stroke-width: 2px;
  stroke-opacity: 0.8;
}

.arc-end {
  fill: $arc-color;
}
