// TODO: Split into files, add imports

/**
 * Variables
 */
$arc-color: #C9DAE7;

/**
 * Fonts
 */
@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Golos_Text_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Golos_Text_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Golos_Text_DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Golos";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Golos_Text_Bold.ttf") format("truetype");
}

/**
 * Styles
 */
svg {
  background-color: azure;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  &:not {
    cursor: crosshair;
    path.link {
      cursor: pointer;
    }
  }
}

#name {
  font: normal 600 larger "Golos";
}

.container {
  display: flex;

  #debugPanel {
    display: none;
    flex: auto;
    flex-direction: column;
    width: 600px;
    height: 600px;

    .debugMenu {
      font: normal 400 medium "Golos";

      button {
        padding: 5px;
        width: 150px;
        color: white;
        border-radius: 5px;
        font: inherit;
        font-size: 0.8em;
        &:hover {
          cursor: pointer;
        }
        &#importButton {
          background-color: darkorange;
        }
        &#exportButton {
          background-color: green;
        }
      }
      label {
        padding: 5px;
        color: black;
        width: 120px;
        display: inline-flex;
        justify-content: center;
      }
    }
    #configEditor {
      flex: auto;
    }
  }
}

.symbol-export {
  background: darkslategrey;
  padding: 0 2px;
  border: solid black 1px;
}

[data-tooltip] {
  position: relative;          
  &:after {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;
    top: -25px;
    left: 0px;
    right: 0px;
  }
  &:hover:after {
    display: block;
    opacity: 1;
    color: darkgray;
    padding: 4px;
    background-color: #e6e6e696;
    border-radius: 5px;
  }
}

.node {
  filter: drop-shadow( -1px 2px 3px rgb(0, 0, 0, .4));
  .position {
    fill: #b1e6fec6;
  }
  .transition {
    fill:#f4f9ffc6;
  }
  .label {
    filter: initial;
    text-anchor: middle;
    font: normal 700 x-large "Golos";
    fill: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, .4);
  }
  cursor: grab;
}

.arc { 
  stroke: $arc-color;
  stroke-width: 2px;
  stroke-opacity: 0.8;
}

.arc-end {
  fill: $arc-color;
}
